@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'digimon';
	src: url('../../public/font/PixelDigivolve-mOm9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
  
}

.fonte{
  font-family: 'digimon';
  word-spacing: 5px;
}

::-webkit-scrollbar {
	display: none;
}

html {
  scroll-behavior: smooth
}

.digitacao::after{
	content: '|';
	margin-left: 5px;
	opacity: 1;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

